<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My App</title>
  <div class="block">
    <a href="/">Home</a>
    <a href="/">Menu</a>
    <a href="/all/new">Build Your Flavor</a>
    <a href="/all/index">New Orders</a>
    <a href="/all/new">Contact Us</a>


  </div>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="block2">

    <h1>Welcome to the <br>Vanilla Shop !</h1>
    <!-- <h2>Welcome to the <br>Vanilla Shop !</h2> -->
    <img class="rabbit" src="/1.png" alt="" />
    <!-- <div class="second"></div>
    <div class="first"></div> -->
  </div>
  <p>Step into a world of creamy, dreamy delights! At Vanilla Shop, we serve up the <br>smoothest, richest vanilla
    ice-cream,made with the finest ingredients for a flavor <br>that melts in your mouth.

    Whether you love classic scoops, sundaes, or shakes, <br> we’ve got the perfect treat to satisfy your sweet
    cravings.
    Come
    in, grab a spoon, <br> and enjoy the magic of vanilla! 🍨💛</p>
</body>
<!-- <button class="second">Choose your tasty</button>
<button class="first"></button>
<footer>Created by Diana Wilson</footer> -->

</html>
